* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
	margin: 1.25%;
}

.grid-parent {
	display: grid;
}

.grid-block {
	text-align: center;
}


.grid-block__header {
	color: lightgrey;
	text-shadow: 1px 1px 1px black;
}

.grid-block__text {
	display: inline-block;
	padding: 5px 30px;
	box-shadow: 10px 10px 10px #cbcbcb;
	text-align: left;
}

img {
	max-width: 100%;
	border-radius: 12%;
	box-shadow: 10px 10px 10px #cbcbcb;
}

.btn {
	display: inline-block; 
	padding: 8px 10px;
	width: 35%;
	box-shadow: 10px 10px 10px #cbcbcb;
	font-size: 1.3em;
	text-decoration: none;
}

.btn--grey {
  color: darkgrey;
}

a:hover {
	text-shadow: 1px 1px 1px black;
}



@media screen and (max-width: 1050px) {
body {
	background: black;
}
	
.grid-block__header {
	color: lightgrey;
	text-shadow: 1px 1px 1px red;
}

.grid-block__text {
	display: inline-block;
	padding: 15px 30px;
	box-shadow: 2.5px 2.5px 2.5px pink;
	text-align: center;
	color: white;
	border-radius: 35%;
}

img {
	max-width: 100%;
	border-radius: 40%;
	box-shadow: 5px 5px 5px white;
}

.btn {
	display: inline-block; 
	padding: 8px 10px;
	width: 35%;
	box-shadow: 2.5px 2.5px 2.5px pink;
	font-size: 1.3em;
	text-decoration: none;
	border-radius: 35%;
}

.btn--grey {
  color: darkgrey;
}

a:hover {
	text-shadow: 1px 1px 1px white;
}

}